doctype html
html(lang="en")
    include includes/head.pug

    body
        div(class="container")
            div(class="py-5 text-center")
                h1 #{pageTitle}
                p(class="lead") #{pageSubtitle}

            include includes/pagnav.pug

            mixin card(cardTitleText, cardValueText)
                // https://stackoverflow.com/questions/36487389/bootstrap-4-card-deck-table-cell-columns-responsive-based-on-viewport
                div(class="col-md-6 col-lg-4 col-xl-3 py-2")
                    div(class="card h-100")
                        div(class="card-body")
                            h5(class="card-title") #{cardTitleText}
                            p(class="card-text") Currently: #{cardValueText}

            div(class="row")
                each val in allReadings
                    - var cardTitleText = val[0][0].toUpperCase() + val[0].slice(1)
                    - var cardValueText = "unset";
                    - if (typeof val[1] === "number") { cardValueText = val[1].toFixed(2); }
                    - else if (typeof val[1] === "object") { cardValueText = JSON.stringify(val[1]); }
                    +card(cardTitleText, cardValueText)
                //
                //div(class="card")
                //    div(class="card-body")
                //        h5(class="card-title") Pressure
                //        p(class="card-text") Currently: #{pressure}
                //
                //div(class="card")
                //    div(class="card-body")
                //        h5(class="card-title") Humidity
                //        p(class="card-text") Currently: #{humidity}

        footer(class="my-5 pt-5 text-muted text-center text-small")
            p(class="mb-1") Created by owenlow